
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="default :: header"></div>
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css"/>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

  <nav th:replace="default :: navbar">
  </nav>

  <aside th:replace="default :: sidebar">
  </aside>
  <div class="wrapper">
    
    <div class="content-wrapper">
      <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

<div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Enfermedades</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Listado</label>
                  <select class="duallistbox" multiple="multiple">
                    <option selected>Resfrío/congestión</option>
                    <option>Dolores abdominales</option>
                    <option>Migrañas</option>
                    <option>Diarrea</option>
                    <option>Infección urinaria</option>
                    <option>Infección estomacal</option>
                    <option>Sarampión</option>
                    <option>Cancer</option>
                    <option>Diabetes</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            Estas son enfermedades que puee padecer el paciente.
          </div>
        </div>


        <!-- /.card -->
      </div>
    </section>
    </div>
    </div>
  <footer class="main-footer">
  <div  th:replace="default :: footer"></div>
  <!-- Select2 -->
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
	      //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox();
  });
  
  </script>
  </footer>

</body>
</html>


