<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div  th:replace="default :: header"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

  <nav th:replace="default :: navbar">
  </nav>

  <aside th:replace="default :: sidebar">
  </aside>
  
      <!-- Main content -->
    <section class="content">
    <h2>Gracias por su Visita.</h2>
      <div class="container-fluid">
      
      </div>
    </section>
    
  <footer>
  <div th:replace="default :: footer"></div>
  </footer>

</body>
</html>