<!-- Do not change this template, this is the ultimate version today
==================================================================================
********** DO NOT CHANGE THIS TEMPLATE AND USE IT FOR ALL WEBPAGES **************
================================================================================== 
Axel A. Berlot 30-10-2019
 -->
 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="default :: header"></head>

<body class="hold-transition sidebar-mini layout-fixed">

  <nav th:replace="default :: navbar">
  </nav>

  <aside th:replace="default :: sidebar">
  </aside>
  
      <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      
      </div>
    </section>
    
  <footer th:replace="default :: footer">
  </footer>

</body>
</html>


